* {
    margin: 0%;
    padding: 0%;
}
   
/* shared-style */
.redient-color{
    background: linear-gradient(196deg,rgba(131, 58, 180, 1) 0%, rgba(131, 58, 180, 1) 28%, rgba(253, 29, 29, 1) 68%, rgba(252, 176, 69, 1) 83%);
-webkit-background-clip: text;
color: transparent;
}
.white{
    color: #FFFFFF;
}
.button {
    font-size: 16px;
    color: #FFFFFF;
    padding: 12px;
    border-radius: 100px;
    width: 134px;
    height: 44px;
    background: linear-gradient(196deg,rgba(131, 58, 180, 1) 0%, rgba(131, 58, 180, 1) 28%, rgba(253, 29, 29, 1) 68%, rgba(252, 176, 69, 1) 83%);
    border: none;
}

.font {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
}
/* nav-tag-area */
#nav{
    display: flex;
    justify-content: space-between;
   align-items: center;
}
#header #nav{
    padding:0% 200px;
    padding-top: 20px;
}
#nav h1 {
    font-size: 60px;
} 

#nav ul{
    display: flex;
}
#nav ul li{
    list-style: none;
}
#nav ul li a{
    text-decoration: none;
     margin-right: 32px;
     color:#FFFFFF;
}

/* header-area  */
#header{
    background-color: #1A0B2E;
    height:1350px ;
     margin: 0%;
}
#header .banner{
    padding-top: 110px;
       background-image: url(../assets/hero-bg.png);
}
#header .banner-image{
    background-image: url(../assets/hero-circle.png);
    width: 350px;
    height: 350px;
    text-align: center;
}
#header .banner-image-container{
    display: flex;
    justify-content: center;
    margin-left:592px ;
    margin-right: 525px;
}
#header .banner-image img{
    margin-top: 60px;
    width: 140px;
    height: 200px;
}
/* banner-discription */
#header .banner-discription{
    text-align: center;
}
#header .spotify-button{
 font-size: 16px;
    color: #FFFFFF;
    padding: 8px;
    border-radius: 100px;
    width: 164px;
    height: 44px;
    background: linear-gradient(196deg,rgba(131, 58, 180, 1) 0%, rgba(131, 58, 180, 1) 28%, rgba(253, 29, 29, 1) 68%, rgba(252, 176, 69, 1) 83%);
    border: none;
    margin-bottom: 30px;
}
#header .banner-discription h2{
  font-size: 60px;
  margin-top: 40px;
}
#header .banner-discription p {
    font-size: 16px;
    color:rgb(168, 168, 168);
    margin-bottom: 30px;
}
#header .banner-sbu-button{
    background:transparent ;
    border: solid 2px #00FF88;
    color: #00FF88;
    margin-bottom: 30px;
}
/* header-discription   */
.header-discription{
    text-align: center;
    margin-top: 60px;
}
.header-discription h2{
color: #FFFFFF;
font-size: 60px;
}
.header-discription p {
    font-size: 16px;
    color:rgb(168, 168, 168);
}
 .header-discription-2p{
    margin-top: 40px;
}
/* header last area */
.section{
    display: grid;
    grid-template-columns:repeat(4 ,1fr); 
    text-align: center;
    margin-top: 160px;
}
.section h2{
font-size:48px ;
color: #00FF88;
}
.section p {
    color:rgb(168, 168, 168) ;
}
.section span{
    font-weight: bolder;
}
/* main-1st-part */
#main .main-container img{
  margin-bottom: 16px;
}
#main .main-container p{
    font-size: 16px;
    color:rgb(168, 168, 168) ;
}
.main-container h3{
 font-size: 24px;
 margin-bottom: 16px;
 color: #FFFFFF;
}
#main .headphone{
 grid-area:headphone ;
}
#main .device{
 grid-area:device ;
 
}
#main .location{
grid-area:location ;

}
#main .lightning{
 grid-area: lightning;
}
#main .resource{
 grid-area: resource;
}
#main .main-container>*{
 background-color: #351165;
 padding: 70px 40px;
 border-radius: 30px;
}
.container-grid{
    padding-top: 60px;
      background-color: #230E3D;
}
.container-grid h2{
  font-size: 60px;
  color: #FFFFFF;
  text-align: center;
}
#main .main-container{
     background-color: #230E3D;
     padding: 100px 200px;
  display: grid;
  gap: 30px;
  grid-template-areas: 
   "headphone  device    device "
   "headphone  location  location"
   "lightning  lightning  resource ";
}
/* main video section */
#main-section{
    background-color: #1A0B2E;
    padding: 0% 100px;
    padding-top: 120px;
}
#main-section h2{
    color: #FFFFFF;
    font-size: 48px;
    text-align: center;
    margin-bottom: 40px;
}
#main-section .text{
  padding: 24px;
}
#main-section .text h3{
    font-size: 24px;
    color: #FFFFFF;
    margin-top: 10px;
    margin-bottom: 10px;
}
#main-section .text h4{
    font-size: 16px;
    color: #00FF88;
}

#main-section .text p{
    color:rgb(168, 168, 168) ;
    font-size: 16px;
    margin-bottom: 12px;
}
.youtube{
   display: flex;
   justify-content: space-between;
}
.youtube .video-container{
     margin: 30px;
     background-color: #351165;
     border-radius:15px ;
}
.youtube iframe{
    width: 380px;
    margin-bottom: 0%;
}
/* main-last-part */
#main-last-part{
    background-color:  #1A0B2E;
    padding:120px 200px ;
}
.host-container{
    display: flex;
    justify-content: center;
    background-color: #351165;
    padding: 10px 40px;
    border-radius: 15px;
}
#main-last-part h2{
    font-size: 48px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 40px;
}
#main-last-part h3{
    font-size: 32px;
    color: #FFFFFF;
}
.host-discription p{
    font-size: 16px;
    color:rgb(168, 168, 168) ;
}
.host-container ul{
    display: flex;
    justify-content: flex-start;
}
.host-discription{
    margin-top: 48px;
    margin-left: 24px;
    margin-bottom: 48px;
}
.host-container ul li {
 list-style: none;
    border-radius:50% ;
    border: #694e8e solid;
    width: 20px;
    height: 20px;
    padding: 4px;
    margin: 10px;
    text-align: center;
    margin: 4px;
    margin-top: 16px;
}
.host-container ul li img{
    width: 15px;
    height: 15px;
}
.host-image{
    margin: 40px;
    margin-right: 0%;
}
/* footer */
#footer {
 background-color: #351165;
 width: 100%;
 height: 380px;
 
}
#footer h1{
    font-size: 58px;
}
#footer div{
  text-align: center;
padding: 120px;
background-image: url(../assets/footer-bg.png);
padding-left: 188px;
}
#footer div ul li {
    list-style: none;
   margin-left: 35px;
    margin-right: 35px;
    margin-bottom: 20px;
    margin-top: 10px;
    color:rgb(168, 168, 168) ;
}
#footer div ul li img{
    width: 18px;
    height: 18px;
    color:#FFFFFF;
}
#footer div ul{
    display: flex;
    justify-content: center;
}
.footer-p{
    font-size: 16px;
    color:rgb(168, 168, 168) ;
}